mat-sidenav {
  background-color: #f2f3f7 !important;
}

.icici-logo-color {
  background-color: rgb(242, 243, 247) !important;
}
.acc-details {
  background-color: rgb(238, 240, 246);
}

.hover-img {
  display: none;
}

.card-wrapper:hover .hover-img {
  display: block !important;
}

.text-color-header {
  background-color: rgb(176, 42, 49);
}
.mat-drawer-side {
  border: none;
}
.content-txt-color {
  color: rgb(0, 0, 0, 0.85);
}
