<form
  [formGroup]="createNoteForm"
  (ngSubmit)="onSubmit()"
  class="py-1"
  [ngClass]="getColor()"
>
  <div class="flex flex-col px-2">
    <img
      *ngIf="createNoteForm.get('image')?.value"
      [src]="createNoteForm.get('image')?.value"
      width="200px"
      height="200px"
      class="self-center"
    />
    <input
      *ngIf="showFullForm"
      [ngClass]="createNoteForm.get('color')?.value"
      class="appearance-none text-gray-700 mb-3 p-2 leading-tight focus:outline-none font-medium"
      type="text"
      placeholder="Title"
      formControlName="title"
    />

    <textarea
      #contentInputField
      [rows]="currSelectedNote ? 5 : 2"
      class="appearance-none text-black p-2 leading-tight focus:outline-none focus:shadow-outline font-normal"
      [ngClass]="createNoteForm.get('color')?.value"
      type="text"
      placeholder="Take a note..."
      formControlName="content"
      (click)="showForm()"
    ></textarea>

    <div formArrayName="tasks" class="max-h-32 overflow-auto">
      <div
        class="form-check m-3 hover:border hover:border-b-slate-500 py-1"
        *ngFor="let taskControl of getControls(); let i = index"
        [formGroupName]="i"
      >
        <input
          class="form-check-input h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
          type="checkbox"
          formControlName="completed"
        />
        <input
          class="form-check-label inline-block text-gray-800 focus:outline-none"
          placeholder="To-Do"
          formControlName="name"
          [ngClass]="createNoteForm.get('color')?.value"
        />
      </div>
    </div>
    <div
      *ngIf="showAttachedLabel"
      class="flex bg-slate-200 rounded-lg w-fit p-1 my-2"
    >
      {{ createNoteForm.get('label')?.value }}
    </div>
    <div *ngIf="showFullForm">
      <div *ngIf="currSelectedNote" class="flex justify-end w-full">
        <div
          matTooltip="Created : {{
            currSelectedNote.createdAt | date : 'shortTime'
          }}"
        >
          Edited :
          {{ currSelectedNote.updatedAt | date : 'shortTime' }}
        </div>
      </div>
      <div class="my-3 flex justify-around">
        <button
          #colorChooseButton
          matTooltip="Background"
          class="mx-2"
          type="button"
          (click)="onColor()"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="palette"
            class="material-icons-outlined"
          ></mat-icon>
          <div *ngIf="showColorPalette" class="fixed bg-white text-center">
            <div
              class="flex z-10 mt-2 rounded-md shadow-lg focus:outline-none"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="menu-button"
              tabindex="-1"
            >
              <div class="flex justify-between p-4" role="none">
                <button
                  class="text-gray-700 block mx-1 p-4 text-sm bg-pink-100 border border-black rounded-full"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-2"
                  type="button"
                  (click)="onColorList('bg-pink-100')"
                ></button>
                <button
                  class="text-gray-700 block mx-1 p-4 text-sm bg-yellow-100 border border-black rounded-full"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-2"
                  type="button"
                  (click)="onColorList('bg-yellow-100')"
                ></button>
                <button
                  class="text-gray-700 block mx-1 p-4 text-sm bg-green-100 border border-black rounded-full"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-2"
                  type="button"
                  (click)="onColorList('bg-green-100')"
                ></button>
                <button
                  class="text-gray-700 block mx-1 p-4 text-sm bg-teal-100 border border-black rounded-full"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-2"
                  type="button"
                  (click)="onColorList('bg-teal-100')"
                ></button>
                <button
                  class="text-gray-700 block mx-1 p-4 text-sm bg-blue-100 border border-black rounded-full"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-2"
                  type="button"
                  (click)="onColorList('bg-blue-100')"
                ></button>
                <button
                  class="text-gray-700 block mx-1 p-4 text-sm bg-purple-100 border border-black rounded-full"
                  role="menuitem"
                  tabindex="-1"
                  id="menu-item-2"
                  type="button"
                  (click)="onColorList('bg-purple-100')"
                ></button>
              </div>
            </div>
          </div>
        </button>

        <label role="button" type="button" matTooltip="Attachment">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="image"
          ></mat-icon>

          <input
            class="hidden mx-2"
            type="file"
            accept="image/*"
            (change)="onImage($event)"
          />
        </label>

        <button class="mx-2" matTooltip="Label" type="button">
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="label"
            (click)="onLabel()"
          ></mat-icon>
          <div
            *ngIf="showLabel"
            class="fixed z-10 mt-2 w-56 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-button"
            tabindex="-1"
          >
            <input
              class="w-full max-w-xs p-2"
              formControlName="label"
              type="text"
              placeholder="Enter Label"
            />
            <button
              class="bg-white hover:bg-gray-100 text-gray-700 font-normal py-1 px-3 m-2 rounded shadow"
              type="button"
              (click)="onAddLabel()"
            >
              Add
            </button>
          </div>
        </button>
        <button
          class="mx-2"
          matTooltip="To-Do"
          type="button"
          (click)="onAddTask()"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="checklist"
          ></mat-icon>
        </button>
        <button
          type="submit"
          class="mx-2"
          matTooltip="{{ currSelectedNote ? 'save' : 'Add' }}"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            [fontIcon]="currSelectedNote ? 'send' : 'add_circle'"
          ></mat-icon>
        </button>
      </div>
    </div>
  </div>
</form>
