<form [formGroup]="createNoteDetailForm">
  <div>
    <div class="flex">
      <div class="max-w-sm rounded shadow-lg">
        <input
          class="text-center font-extrabold text-2xl"
          type="text"
          name="inputTitle"
          formControlName="detailTitle"
        />
        <input
          type="text"
          name="inputContent"
          formControlName="detailContent"
        />

        <div class="text-right font-medium">
          {{ currentNoteDetail.createdAt | date : 'mediumDate' }}
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn blue" (click)="onEdit()">Edit</button>
      <button class="btn blue" type="submit" (click)="onSubmit()">
        submit
      </button>
    </div>

    <div *ngFor="let todo of currentNoteDetail.todoList">
      <input
        class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        type="checkbox"
        value=""
        id="flexCheckChecked"
        [checked]="todo.completed"
      />
      <input
        class="form-check-label inline-block text-gray-800"
        for="flexCheckChecked"
        placeholder="To-Do"
        disabled
        [value]="todo.name"
      />
      <!-- {{ todo.name }} {{ todo.completed }} -->
    </div>

    <div class="form-check m-3" formGroupName="detailTodo">
      <input
        class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
        type="checkbox"
        value=""
        id="flexCheckChecked"
        checked
        formControlName="detailCheckBox"
      />
      <input
        class="form-check-label inline-block text-gray-800"
        for="flexCheckChecked"
        formControlName="detailTodoName"
        placeholder="To-Do"
      />
    </div>
    <div>
      <button class="btn blue" (click)="onAddTodo()">Add To-Do</button>
    </div>
  </div>
</form>
