<div
  *ngIf="showLogoutLoader"
  class="h-screen w-screen flex justify-center items-center"
>
  <span>
    <div class="flex justify-center items-center bg-white h-screen">
      <div
        class="first-circle bg-slate-600 flex space-x-3 p-3 rounded-full justify-center items-center animate-pulse"
      ></div>
      <div
        class="second-circle bg-slate-600 flex space-x-3 p-3 rounded-full justify-center items-center animate-pulse"
      ></div>
      <div
        class="thrd-circle bg-slate-600 flex space-x-3 p-3 rounded-full justify-center items-center animate-pulse"
      ></div></div
  ></span>
</div>
<ali-assignments-header *ngIf="!showLogoutLoader"> </ali-assignments-header>
<!-- <mat-toolbar
  *ngIf="!showLogoutLoader"
  class="flex justify-between !pl-0 !fixed z-10 h-20 bg-white border border-gray-100"
>
  <div
    class="icici-logo-color h-full flex justify-center z-20"
    style="width: 311px"
  >
    <div class="icici-logo">
      <img
        class="w-40 pt-2.5"
        src="https://open-frontend-bucket.s3.amazonaws.com/open-money/logo/open_bankonnect_logo_2.0.png"
        alt="powered by icici logo"
      />
    </div>
  </div>
  This is for the toggle of the dashboard uncomment it after the UI is completed
  <div class="sidenav-toggle">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon fontIcon="menu"></mat-icon>
    </button>
  </div> 

  <div class="w-full">
    <div class="flex justify-between">
      <div class="ml-5">
        <p class="text-3xl font-light">Team</p>
      </div>
      <div class="flex justify-center space-x-8 py-1 px-3 h-8">
        <button
          class="flex items-center justify-center border border-orange-400 text-orange-400 rounded-full text-sm py-4 px-2"
        >
          <img
            class="w-6 pr-1"
            src="https://app.bankonnect.co/assets/mat-icons/quick_access.svg"
            alt=""
          />

          <p class="!m-0 text-xs">QUICK ACCESS</p>
        </button>
        <button>
          <img
            src="https://app.bankonnect.co/assets/mat-icons/phone-book.svg"
            alt="vendor & customers logo"
          />
        </button>
        <button>
          <img
            src="https://app.bankonnect.co/assets/mat-icons/notification.svg"
            alt="notification logo"
          />
        </button>
        <div class="avatar">
          <div class="avatar-img mr-8">
            <a mat-button [matMenuTriggerFor]="menu">
              <mat-icon fontIcon="account_circle"></mat-icon>

              <img
                class="w-10 rounded-full relative"
                src="https://app.bankonnect.co/assets/images/avatar-male.png"
                alt="Avatar_img"
              />
            </a>
            <img
              class="absolute right-5 top-7 z-10 w-4 mr-8"
              src="https://app.bankonnect.co/assets/mat-icons/ac_arrow.svg"
              alt="arrow"
            />
          </div>
          <mat-menu #menu="matMenu">
            <div>
              <button mat-menu-item>Request For Demo</button>
              <button mat-menu-item>Team</button>
              <button mat-menu-item>Subscriptions</button>
              <button mat-menu-item>Referrals</button>
              <button mat-menu-item>Settings</button>
              <hr />
            </div>
            <div>
              <button mat-menu-item>Blog</button>
              <button mat-menu-item>Feedback</button>
              <button mat-menu-item>Help</button>
              <button mat-menu-item>Terms & Conditions</button>
              <button mat-menu-item>Privacy</button>
              <button mat-menu-item>App Version v4.22.115</button>
              <hr />
            </div>
            <div>
              <hr />
              <button mat-menu-item (click)="onLogout()">Logout</button>
            </div>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar> -->
<mat-sidenav-container *ngIf="!showLogoutLoader">
  <mat-sidenav
    class="w-64"
    #sidenav
    mode="side"
    opened="true"
    [fixedInViewport]="true"
    [fixedTopGap]="65"
  >
    <ul class="h-full px-10">
      <div class="">
        <li>
          <a routerLink="/dashboard" class="flex pt-10 p-3">
            <span class="">
              <img
                class="mr-4"
                src="https://app.bankonnect.co/assets/mat-icons/dashboard.svg"
                alt="*"
            /></span>
            <p class="text-base text-slate-600 hover:text-orange-400">
              Dashboard
            </p>
          </a>
        </li>
        <li>
          <a href="" class="flex p-3">
            <span>
              <img
                class="mr-4"
                src="https://app.bankonnect.co/assets/mat-icons/Payments.svg"
                alt="*
            "
            /></span>
            <p class="text-base text-slate-600 hover:text-orange-400">
              Payments
            </p>
          </a>
        </li>
        <li>
          <a href="" class="flex p-3">
            <span>
              <img
                class="mr-4"
                src="https://app.bankonnect.co/assets/mat-icons/banking.svg"
                alt="*"
            /></span>
            <p class="text-base text-slate-600 hover:text-orange-400">
              Banking
            </p>
          </a>
        </li>
        <li>
          <a href="" class="flex p-3">
            <span>
              <img
                class="mr-4"
                src="https://app.bankonnect.co/assets/mat-icons/accounting.svg"
                alt="*"
            /></span>
            <p class="text-base text-slate-600 hover:text-orange-400">
              Finance
            </p>
          </a>
        </li>
        <li>
          <a href="" class="flex p-3">
            <span>
              <img
                class="mr-4"
                src="https://app.bankonnect.co/assets/mat-icons/Integrations.svg"
                alt="*"
            /></span>
            <p class="text-base text-slate-600 hover:text-orange-400">
              Integration
            </p>
          </a>
        </li>
        <li>
          <a href="" class="flex p-3">
            <span>
              <img
                class="mr-4"
                src="https://app.bankonnect.co/assets/mat-icons/offer.svg"
                alt="*"
            /></span>
            <p class="text-base text-slate-600 hover:text-orange-400">Offers</p>
          </a>
        </li>
      </div>
      <div class="flex">
        <mat-card class="flex justify-center h-18 w-64">
          <!-- <mat-card-content> </mat-card-content> -->
          <div class="pl-2 pt-3 flex">
            <img
              class="h-8"
              src="https://app.bankonnect.co/assets/images/finger-finger%20copy.png"
              alt="finger-print"
            />
            <div>
              <span class="kyc-text ml-5">
                KYC Status

                <span class="text-yellow-400 ml-3 block"> • kyc on hold</span>
              </span>
            </div>
          </div>
        </mat-card>
      </div>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="mt-20 bg-white">
    <div class="content-container">
      <div class="flex space-x-5 p-10 ml-10">
        <mat-form-field appearance="fill">
          <mat-label class="flex"> Name</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field appearance="outline" class="!h-1">
          <mat-label class="flex">Department</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="!border border-none" appearance="outline">
          <mat-label>Roles</mat-label>
          <mat-select>
            <mat-option value="one"> Owner </mat-option>
            <mat-option value="two"> Admin </mat-option>
            <mat-option value="one"> Employee </mat-option>
            <mat-option value="two"> Manager </mat-option
            ><mat-option value="one">Seller</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="showLoader" class="grid grid-cols-4 gap-6 mx-5">
        <div class="h-48 skeleton"></div>
        <div class="skeleton"></div>
        <div class="skeleton"></div>
        <div class="skeleton"></div>
      </div>

      <div *ngIf="!showLoader" class="grid grid-cols-3 gap-6 mx-5">
        <!-- To Add card -->
        <div class="">
          <mat-card
            class="h-48 cursor-pointer hover:shadow-lg"
            (click)="drawer.toggle()"
          >
            <mat-card-content class="h-full">
              <div class="flex justify-center items-center w-full h-full">
                <button type="button" (click)="(drawer.opened)" mat-button>
                  <img
                    class=""
                    src="https://open-frontend-bucket.s3.amazonaws.com/open-money/common/add.png"
                    alt="add_logo"
                  />
                </button>
              </div>
            </mat-card-content>
          </mat-card>
          <!-- <mat-card>
            <mat-drawer-container class="example-container" autosize>
              <div class="example-sidenav-content"></div>
            </mat-drawer-container>
          </mat-card> -->
        </div>
        <!-- Added Card -->
        <div
          *ngFor="let teamMember of teamMembers"
          class="h-full hover:shadow-lg"
          [class.skeleton]="showLoader"
        >
          <mat-card class="h-full">
            <mat-card-content class="">
              <div>
                <div class="">
                  <div class="flex">
                    <img
                      class=""
                      src="https://open-frontend-bucket.s3.amazonaws.com/open-money/open-hub/avatar.svg"
                      alt="profile-photo"
                    />

                    <div class="ml-8">
                      <div class="font-semibold">
                        {{ teamMember.name }}
                      </div>
                      <div class="text-slate-400">
                        {{ teamMember.emp_code }}
                      </div>
                    </div>
                    <div class="temp-btn">
                      <!-- <mat-icon
                        class="bg-red-500"
                        aria-hidden="false"
                        aria-label="Example home icon"
                        fontIcon="more_vert"
                      ></mat-icon> -->

                      <button
                        class="bg-slate-50"
                        (click)="
                          onDeleteMemberApi(teamMember.team_member_details_id)
                        "
                      >
                        delete
                      </button>
                    </div>
                  </div>

                  <div class="flex w-full">
                    <div class="mt-1">
                      <img
                        class="h-4 ml-16"
                        src="https://open-frontend-bucket.s3.amazonaws.com/open-money/common/team.png"
                        alt="team-logo"
                      />
                    </div>
                    <div class="flex mt-1">
                      <img
                        class="h-4 ml-9"
                        src="https://open-frontend-bucket.s3.amazonaws.com/open-money/common/star.png"
                        alt="team-logo"
                      />
                      <p>
                        {{ teamMember.team_invite?.data?.role_name ?? 'NA' }}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="flex-col mt-7">
                  <div class="flex">
                    <img
                      class="h-3 mr-3 mt-1 mb-3"
                      src="https://open-frontend-bucket.s3.amazonaws.com/open-money/common/email.png"
                      alt="email-logo"
                    />
                    <span>{{ teamMember.email_id }}</span>
                  </div>
                  <div class="flex">
                    <img
                      class="h-3 mr-3 mt-1"
                      src="https://open-frontend-bucket.s3.amazonaws.com/open-money/common/phone.png"
                      alt="phone-logo"
                    />
                    <span>9876545621</span>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-drawer-container
              class="example-container"
              autosize
              [hasBackdrop]="true"
            >
              <div class="example-sidenav-content"></div>
            </mat-drawer-container>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Right-Side-Drawer -->
<div class="overlay" *ngIf="drawer.opened"></div>

<mat-drawer
  position="end"
  mode="side"
  #drawer
  class="example-sidenav h-screen !z-50"
  style="width: 500px"
  mode="side"
>
  <div class="flex justify-between">
    <p class="!my-5 !ml-5">Create Member</p>
    <button>
      <img
        class="!mr-5"
        (click)="drawer.close()"
        src="https://open-frontend-bucket.s3.amazonaws.com/open-money/collect/close.svg"
        alt="cross-button"
      />
    </button>
  </div>

  <hr class="bg-black" />

  <p class="!mt-5 1 !mb-10">Please enter comma separated email ids</p>

  <mat-form-field class="w-full pt-2 pl-5">
    <mat-label class="text-base">Enter Email</mat-label>
    <input
      class="appearance-none"
      type="email"
      [formControl]="email"
      matInput
    />
  </mat-form-field>
  <button
    class="bg-orange-400 text-white w-full h-14"
    style="margin-top: 510px"
    (click)="onAddTeamMemberApi()"
    [disabled]="showLoader"
  >
    <div *ngIf="showLoader">
      <svg
        class="animate-spin h-5 w-5 mx-auto text-white"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        ></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        ></path>
      </svg>
    </div>
    <div *ngIf="!showLoader">Proceed</div>
  </button>
</mat-drawer>
